In [ ]:
#  1.Count the number of Salesperson whose name begin with ‘a’/’A’.

SELECT COUNT(*) 
FROM SalesPeople
WHERE NAME LIKE 'A%','a'%;

In [ ]:
# 2.Display all the Salesperson whose all orders worth is more than Rs. 2000.

SELECT *
  FROM SalesPeople
  WHERE order.Onum > 2000;

In [ ]:
# 3.Count the number of Salesperson belonging to Newyork.

SELECT *
  FROM SalesPeople
  WHERE City = "Newyork";

In [ ]:
# 4.Display the number of Salespeople belonging to London and belonging to Paris

SELECT *
  FROM SalesPeople
  WHERE City = "Newyork" or City="Paris";

In [ ]:
# 5.Display the number of orders taken by each Salesperson and their date of orders.

SELECT *
  FROM orders;